node_modules
**/node_modules

.next
**/.next

.git
.gitignore

dist
**/dist

coverage
**/coverage

.vscode
.idea

.env
.env.local
.env.*.local

Dockerfile*
docker-compose*
*.log

README.md
architecture.md
setupnotes.md

prometheus
grafana
loki